template(name='dashboard')
    .ui.stackable.padded.grid
        .three.column.row
            .column
                .ui.header 
                    +i name='sun'
                    |todays specials
            .column
                .ui.header 
                    +i name='star'
                    |your favorite drinks
                each my_favorite_drinks
                    +drink_small
            .column
                .ui.header
                    +i name='calendar'
                    |todays events
                .ui.header
                    +i name='groups'
                    |checked in users
                each checked_in_users
                    a.ui.item(href="/user/#{username}")
                        .ui.header #{first_name} #{last_name}
                        .content #{status_message}
                .ui.header
                    +i name='rss'
                    |notices
                .ui.big.fluid.green.button.order_drink
                    i.plus.icon
                    |order drink
            .column
                .ui.header 
                    +i name='groups'
                    |most popular
                each most_popular
                    +drink_small
                
template(name='drink_small')
    div
    a.ui.inline.header(href="/m/drink/#{_id}/view")
        img.ui.avatar.image(src="{{c.url picture width=100 height=100 gravity='face' crop='crop'}}")
        |#{title}
        
        
template(name='bookmarked_users')
    .ui.header 
        +i name='star' 
        |bookmarked users
        
        
