template(name='gallery')
    .ui.padded.stackable.grid.header-wrapper
        .row
            .sixteen.wide.column
                .ui.icon.large.button.add_image
                    i.green.plus.icon
                +cloud filter='image'
                .scrolling
                    .ui.centered.four.stackable.cards
                        each images
                            +image_item
                            
                            
template(name='image_card_template')
    //- .ui.card
    .ui.stackable.grid.segment.image_item
        .eight.wide.column
            img.ui.rounded.image(src="{{c.url image_id height=200 width=300 crop='lpad'}}")
        .eight.wide.column
            .content
                .header #{title}
                .meta #{when}
                
            .content
                .right.floated 
                +small_author_info
                //- img.ui.avatar.image(src="{{c.url author.image_id height=200 width=200 crop='fit'}}")
                //- |#{_author_username}
            .extra.content
                i.eye.icon
                |#{views}
            



template(name='image_page')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .twelve.wide.column
                    h1.ui.header #{title}
            .row
                .four.wide.column
                    if can_edit
                        a.ui.icon.button(href="/image/#{_id}/edit" title='edit')
                            +i name='settings'
                    +array_view key='tags' icon='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='date_tags' label='date tags' icon='calendar' direct=true
                    .ui.small.header #{views} views
                    +voting_full
                    +comments
                .twelve.wide.column
                    img.ui.image(src="{{c.url image_id width=800 }}")
                    +html_view key='description' direct=true

template(name='image_edit_page')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .five.wide.column
                    .ui.inline.header #{title}
                    a.ui.large.basic.icon.button(href="/image/#{_id}")
                        i.big.green.checkmark.icon
                    .ui.basic.icon.button.delete_image_item
                        i.red.remove.icon
                    +text_edit key='title' icon='header' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +array_edit key='date_tags' label='date tags' icon='calendar' direct=true
                .six.wide.column
                    +image_edit key='image_id' direct=true
                    +html_edit key='description' direct=true
