template(name='nav')
    .ui.borderless.attached.big.menu.topnav
        //- a.toggle_sidebar.icon.item.sidebar_on
        //-     i.large.sidebar.icon
        if is_loading
            //- .icon.item
            //-     i.big.loading.grey.yin.yang.icon
            a.item(href='/home' class="{{isActivePath '/home'}}")
                img.ui.mini.image.rotate(src="{{c.url 'rayback_logo' width=300 height=300 gravity='face' crop='fill'}}")
        else
            a.item(href='/home' class="{{isActivePath '/home'}}")
                img.ui.mini.image(src="{{c.url 'rayback_logo' width=300 height=300 gravity='face' crop='fill'}}")
                //- i.sitemap.large.icon
        if is_admin
            a.item.set_model(href='/m/model' class="{{isActivePath '/m/model'}} loading")
                i.sitemap.large.icon
        if is_staff
            a.icon.item(href='/staff' class="{{isActivePath '/staff'}}" title='staff')
                +i name='employee-card'
            a.icon.item(href='/admin' class="{{isActivePath '/admin'}}" title='admin')
                +i name='user-shield'
        a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}" title='dashboard')
            +i name='dashboard'
        a.icon.item.set_food_truck(href='/m/food_truck' class="{{isActivePath '/m/food_truck'}} #{loading_class}" title='food')
            +i name='truck'
        //- a.icon.item.set_food(href='/m/food' class="{{isActivePath '/m/food'}}" title='food')
        //-     +i name='meal'
        a.icon.item.set_drinks(href='/m/drink' class="{{isActivePath '/m/drink'}} #{loading_class}" title='food')
            +i name='beer'
        //- a.icon.item(href='/groups' class="{{isActivePath '/groups'}} #{loading_class}")
        //-     +i name='groups'
        a.icon.item(href='/events' class="{{isActivePath '/events'}} #{loading_class}" title='events')
            +i name='calendar'
        a.icon.item(href='/drink_categories' class="{{isActivePath '/drink_categories'}} #{loading_class}" title='drink_categories')
            +i name='cocktail'
        a.icon.item(href='/gallery' class="{{isActivePath '/gallery'}} #{loading_class}")
            +i name='gallery'
        a.icon.item(href='/videos' class="{{isActivePath '/videos'}} #{loading_class}" title='video')
            +i name='video'
        a.icon.item(href='/menu' class="{{isActivePath '/menu'}} #{loading_class}" title='menu')
            +i name='restaurant-menu'
        //- a.item.set_marketplace(href='/m/marketplace' class="{{isActivePath '/m/marketplace'}}")
        //-     +i name='shop'
        .right.menu
            if currentUser
                a.icon.item(href='/users' class="{{isActivePath '/users'}}")
                    +i name='groups'
                unless logging_out
                    //- a.ui.icon.item(href="/user/#{currentUser.username}/notifications" class="{{isActiveRoute regex='notifications'}}")
                    //-     i.large.alarm.icon
                        //- .menu
                        //-     if notifications
                        //-         each notifications
                        //-             .ui.button #{text}
                        //-     else 
                        //-         |no notifications
                    if is_user
                        //- a.icon.item(href="/chat" class="{{isActivePath '/chat'}}" title='chat')
                        //-     +i name='chat'
                            //- i.chat.large.icon
                    //- if is_admin
                    //-     a.icon.item(href='/admin' class="{{isActivePath '/admin'}}")
                    //-         +i name='user shield'
                    //-         //- i.user.shield.icon
                    if is_staff
                        a.icon.item(href='/orders' class="{{isActivePath '/orders'}}")
                            +icolor name='buy'
                    a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                        //- if currentUser.image_id
                        //-     img.ui.inline.circular.tiny.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        //- else
                        +i name='user' classes='ui inline mini image'
                        | #{currentUser.username}

                if logging_out
                    .item
                        i.large.loading.circle.notch.icon
                //- else
                //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                //-         i.sign.out.large.icon
            else
                a.item(href='/login' title='login') 
                    //- i.sign.in.large.icon
                    +i name='enter-2' classes='ui avatar image'



template(name='footer')
    .ui.fluid.basic.attached.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                //- with currentUser
                    //- if is_dev
                    //-     +textarea_edit key='notes' direct=true
                    //- form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    //-     input(type='hidden', name='cmd', value='_s-xclick')
                    //-     input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                    //-     <input type="hidden" name="hosted_button_id" value="7SENHECABERS6" />
                    //-     // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                    //-     //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    //-     img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                    //-     button.ui.large.icon.button(type='submit')
                    //-         //- i.pied.piper.alternate.large.icon
                    //-         +i name='donate'
                
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                        //- +tribe_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- +i name='anonymous-mask'
            i.shield.icon(title='role switcher')
            |#{username} role switcher
        //- if is_eric
        //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- if current_user
        //-     with current_user
        //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- else if currentUser
        //-     with currentUser
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- +user_array_element_toggle key='roles' value='admin' user=currentUser
        //- +user_array_element_toggle key='roles' value='user' user=currentUser
        //- +user_array_element_toggle key='roles' value='staff' user=currentUser
        //- +user_array_element_toggle key='roles' value='resident' user=currentUser
        //- +user_array_element_toggle key='roles' value='owner' user=currentUser
