template(name='shop_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .five.wide.column
                    .ui.inline.header #{title}
                    a.ui.large.basic.icon.button(href="/shop/#{_id}/view")
                        i.big.green.checkmark.icon
                    .ui.basic.icon.button.delete_shop_item
                        i.red.remove.icon
                    +text_edit key='title' icon='header' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='delivery_instructions' icon='truck' label='delivery instructions' direct=true
                    +number_edit key='inventory' icon='move-by-trolley' label='inventory' direct=true
                    +single_doc_edit key='shop_type' ref_model='shop_type' label='shop type' direct=true
                    if is_event
                        .ui.header 
                            +i name='calendar'
                            |event
                        +date_edit key='date' label='date' direct=true
                        +time_edit key='start_time' label='start time' direct=true
                        +time_edit key='end_time' label='end time' direct=true
                    else if is_service
                        .ui.header service
                        +number_edit key='hourly_rate' direct=true
                    else if is_product
                        .ui.header product
                        +boolean_edit key='for_sale' label='for sale' direct=true
                        if for_sale
                            +dollar_price_edit key='dollar_price' icon='money' label='dollar price' direct=true
                        +boolean_edit key='rentable' direct=true
                        unless rentable
                            +boolean_edit key='food' direct=true
                            if food
                                +array_edit key='ingredients' direct=true
                                +array_edit key='allergies' direct=true
                        if rentable
                            +number_edit key='hourly_rate' label='hourly rate' icon='time-span' direct=true
                            +number_edit key='daily_rate' label='daily rate' icon='timetable' direct=true
                .six.wide.column
                    +image_edit key='image_id' direct=true
                    +html_edit key='description' direct=true
                .five.wide.column
                    .ui.header
                        +i name='truck'
                        |delivery
                    +boolean_edit key='pickup_delivery' label='pickup' direct=true
                    +boolean_edit key='home_dropoff_delivery' label='home dropoff' direct=true
                    +boolean_edit key='building_dropoff_delivery' label='building dropoff' direct=true
                    .ui.header 
                        +i name='money'
                        |pricing
                    +boolean_edit key='cash_accepted' label='cash accepted' icon='cash' direct=true
                    +boolean_edit key='venmo_accepted' label='venmo accepted' icon='mobile-payment' direct=true
                    +boolean_edit key='prepay' label='prepayment required' direct=true
                    +boolean_edit key='security_deposit_required' label='security deposit required' direct=true
                    if security_deposit_required
                        +number_edit key='security_deposit_amount' label='security deposit amount' icon='dollar'
                    +boolean_edit key='friend_discount' label='friend discount' direct=true
                    if friend_discount
                        +number_edit key='security_deposit_amount' label='security deposit amount' icon='dollar'
                    .ui.header
                        +i name='eye'
                        | visibility
                    +boolean_edit key='published' label='published' direct=true
                    if published
                        .ui.divider
                        +boolean_edit key='visible_to_friends' label='visible to friends' direct=true
                        +boolean_edit key='visible_to_public' label='visible to public' direct=true
                        
template(name='shop_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid.global_container
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .middle.aligned.row
                .three.wide.column
                    img.ui.rounded.small.inline.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                .seven.wide.column
                    .ui.large.inline.header 
                        |#{title}
                    .ui.small.inline.header by #{author.first_name} #{_author_username}
                    div
                    if active_reservation
                        with active_reservation
                            .ui.segment
                                .ui.inline.header 
                                    +i name='clock'
                                    |active reservation
                                .ui.inline.header #{_author_username}
                                .ui.inline.header ends at {{short_date end_datetime}}
                                if is_author
                                    +remove_button
                                .ui.button.reserve_after 
                                    +i name='waiting-room' classes='ui avatar image'
                                    |reserve after
                    else
                        .ui.inline.header 
                            i.green.checkmark.icon
                            |available
                
                .six.wide.column
                    if rentable
                        .ui.fluid.large.button.reserve
                            +i name='ticket-purchase' classes='ui inline mini image'
                            |reserve for $#{hourly_rate}/hr
                    if for_sale
                        .ui.fluid.large.button.reserve
                            +i name='shopping-cart' classes='ui inline mini image'
                            |buy for $#{dollar_price}
            .row
                .sixteen.wide.center.aligned.column
                    if can_edit
                        a.ui.icon.button(href="/shop/#{_id}/edit" title='edit')
                            +i name='settings'
                    a.ui.icon.massive.button(href="/shop/#{_id}/info" class="{{isActiveRoute 'shop_info'}}" title='info')
                        +i name='info'
                        //- i.info.icon
                    if rentable
                        a.ui.icon.massive.button(href="/shop/#{_id}/rentals" class="{{isActiveRoute 'shop_rentals'}}" title='rentals')
                            +i name='clock'
                            //- i.clock.icon
                    a.ui.icon.massive.button(href="/shop/#{_id}/chat" class="{{isActiveRoute 'shop_chat'}}" title='chat')
                        +i name='chat'
                        //- i.chat.icon
                    //- a.ui.icon.massive.button(href="/shop/#{_id}/tasks" class="{{isActiveRoute 'shop_tasks'}}" title='tasks')
                    //-     +i name='tasks'
                    a.ui.icon.massive.button(href="/shop/#{_id}/earnings" class="{{isActiveRoute 'shop_earnings'}}" title='earnings')
                        +i name='money'
                        //- i.dollar.icon
                    a.ui.icon.massive.button(href="/shop/#{_id}/stats" class="{{isActiveRoute 'shop_stats'}}" title='stats')
                        +i name='line-chart'
                        //- i.line.chart.icon
                    //- a.ui.icon.button(href="/shop/#{_id}/ownership" class="{{isActiveRoute 'product_ownership'}}" title='ownership')
                    //-     +i name='pie-chart'
                    //- a.ui.icon.button(href="/shop/#{_id}/projections" class="{{isActiveRoute 'shop_projections'}}" title='projections')
                    //-     +i name='roulette-chips'
                    //- a.ui.icon.button(href="/shop/#{_id}/ads" class="{{isActiveRoute 'shop_ads'}}" title='ads')
                    //-     +i name='billboard'
            .row
                .sixteen.wide.column
                    +yield
    +footer
    
    
    
template(name='shop_stats')
    .ui.padded.stackable.grid
        .eight.wide.column
            .ui.button.calculate_transaction_count calculate transaction count
            .ui.button.advise_price advise price
            .ui.header sale price $#{dollar_price}
            .ui.header $#{past_earnings} past earnings 
            .ui.statistic
                .value
                    +i name='payment-history'
                    |$#{future_earnings}
                .label
                    |future earnings 
            .ui.header #{future_reservations} future reservations
            .ui.header #{past_reservations} past reservations
            
            .ui.header transaction count #{transaction_count}
            .ui.header daily rate $#{daily_rate}
            .ui.header sales_total $#{sales_total}
            .ui.header average_sale_price $#{average_sale_price}
            .ui.header advise notes
            |#{advise_notes}
            .ui.header suggested daily rate #{daily_rate}
        .eight.wide.column
            +product_location
            if inventory_available
                .ui.header available inventory #{inventory_available}
            if for_sale
                unless sold_out
                    .ui.big.green.fluid.button.add_to_cart 
                        i.cart.plus.icon
                        |+ cart
                else 
                    .ui.big.disabled.button
                        i.ban.icon
                        |sold out
            +voting_full
            +product_viewing
            .ui.header
                +i name='truck'
                |delivery
            |#{delivery_instructions}      
            +boolean_view key='pickup_delivery' label='pickup' direct=true
            +boolean_view key='home_dropoff_delivery' label='home dropoff' direct=true
            +boolean_view key='building_dropoff_delivery' label='building dropoff' direct=true
            +boolean_view key='healthclub_drop_off_delivery' label='health club drop off' direct=true
            .ui.header 
                +i name='money'
                |pricing
            +boolean_view key='cash_accepted' label='cash accepted' direct=true
            +boolean_view key='prepay' label='prepayment required' direct=true
            +boolean_view key='security_deposit_required' label='security deposit required' direct=true
            if security_deposit_required
                +number_view key='security_deposit_amount' label='security deposit amount' icon='dollar'
            +boolean_view key='friend_discount' label='friend discount' direct=true
            if friend_discount
                +number_view key='friend_discount_amount' label='friend deposit amount' icon='dollar'
            .ui.small.header 
                +i name='eye' 
                |visibility
            +boolean_view key='published' label='published' direct=true
            if published
                +boolean_view key='visible_to_friends' label='visible to friends' direct=true
                +boolean_view key='visible_to_public' label='visible to public' direct=true
            
    
    //- +product_transactions
    
template(name='product_location')
    .ui.inline.header 
        +i name='location'
        |current location
    i.refresh.link.icon.recheck_location
    div
    |#{current_location}
    
    

template(name='shop_rentals')
    //- +cal
    +rentals
                        
template(name='shop_earnings')
    .ui.header 
        +i name='line-chart'
        |shop earnings
    .ui.segment
        .ui.small.header 
            i.clock.blue.icon
            |past reservations #{past_reservations}
        .ui.small.header 
            i.clock.blue.icon
            |future reservations #{future_reservations}
        .ui.small.header 
            i.money.blue.icon
            |past earnings $#{past_earnings}
        .ui.small.header 
            i.money.blue.icon
            |future earnings $#{future_earnings}
        .ui.blue.icon.button.calculate_future_earnings 
            i.refresh.blue.icon
            //- calculate future earnings
    .ui.segment
        .ui.small.header total earnings
        .ui.header sales_total $#{sales_total}
        .ui.button.calculate_total_earnings calculate total earnings
    .ui.segment
        .ui.small.header monthly earnings
    +product_viewing    
                        
template(name='shop_chat')                        
    +comments
                    
template(name='product_ads')                        
    .ui.center.aligned.header 
        +i name='billboard'
        |product ads
    .ui.button make ad for product
    .ui.header advertise in searches and to people for credit.  
    .ui.header create auction for keywords, tags, like google adwords
    
           
template(name='product_ownership')                        
    .ui.header 
        i.hand.holding.usd.icon
        |product ownership
    .ui.button.sell_shares sell shares
    .ui.button.recalculate_ownership recalculate ownership
    .ui.header #{ownership}
    .ui.header 
        | ownership
    .content
        .ui.label author #{_author_username}
        if is_dev
            +text_edit key='_author_username' direct=true
            +single_user_edit key='_author_username' direct=true
        .make_author_owner.ui.button make author owner
        .ui.list
            each ownership
                .item user id: #{_user_id} #{percent}
        .ui.list
            each stock_certificates
                .item #{_author_username} #{ownership_percent}
        .ui.header your ownership
        if has_ownership
            |#{my_ownership} %
            #offer_ownership.ui.button offer ownership
        .ui.header offers
        .ui.header transactions
                    
                    
                    
template(name='shop_projections')                        
    .ui.header shop projections
    .ui.disabled.button bet a certain avg price at a certain time
                    
template(name='shop_tasks')                        
    .ui.header
        i.tasks.icon
        | product tasks
    i.green.checkmark.icon
    |none
    .ui.header
        i.envelope.icon
        | unreplied messages
    i.green.checkmark.icon
    |none
    .ui.header
        i.clipboard.icon
        | undelivered orders
    i.green.checkmark.icon
    |none
    .ui.header
        i.ticket.icon
        | open tickets
    i.green.checkmark.icon
    |none
                    
template(name='shop_info')  
    .ui.stackable.grid
        .eight.wide.column
            img.ui.centered.rounded.shadowed.image(src="{{c.url image_id width=1000 height=400 crop='fit'}}")
        .eight.wide.column
            a.ui.header(href="/user/#{_author_username}") added by #{_author_username}
            |#{when}
            with _author_id
              +user_card
            +array_view key='tags' icon='tags' direct=true
            +array_view key='location_tags' label='location tags' icon='marker' direct=true
            //- +text_view key='location' icon='marker' label='location description' direct=true

            +number_view key='inventory' label='inventory' icon='move-by-trolley' direct=true
            //- +dollar_price_view key='dollar_price' icon='money' label='dollar price' direct=true
            .ui.header
                i.yellow.star.icon
                |reviews

            //- if rentable                    
            //-     +rentals    
            .ui.small.header #{views} views
            .ui.small.header #{upvotes} upvotes
            .ui.small.header #{downvotes} downvotes
            .ui.small.header #{good_reviews} good reviews
            .ui.small.header #{bad_reviews} bad reviews
            .ui.small.header #{points} points
            .ui.small.header #{transactions} transactions
            .ui.small.header #{reservations} future reservations
            +html_view key='description' direct=true
            if food
                +reservations
            +product_transactions
            .row
                .twelve.wide.column
                    if watson
                        .ui.fluid.accordion
                            .title
                                .ui.header 
                                    +i name='development-skill'
                                    |description analysis
                                    i.dropdown.icon
                            .content
                                +watson_view
            
template(name='product_viewing')
    .ui.segment
        .ui.header
            +i name='eye'
            | viewers
        if marked_read
            .ui.button.mark_unread 
                i.eye.icon
                |mark unread
        else
            .ui.button.mark_read
                i.hidden.icon
                | mark read
        div
        .ui.header reader count #{reader_count}
        each readers
            .ui.label 
                |#{username}
            
            
template(name='shop_item_transactions')
    .ui.segment
        .ui.header shop item transactions
        if is_author
            .ui.big.button 
                i.checkmark.icon
                |mark as sold
        




template(name='product_transactions')
    .ui.header 
        +i name='cashbook'
        |transactions
    if is_author
        .ui.big.button.add_transaction
            i.plus.icon
            | add transaction
    .ui.styled.accordion
        each product_transactions
            +public_transaction
        
template(name='public_transaction')
    .title
        +creation_info
        +author_info
    .content
        if is_author
            +boolean_edit key='paid' label='paid' icon='money' direct=true
            if paid
                +number_edit key='paid_amount' label='amount paid' icon='hashtag' direct=true
                +date_edit key='paid_date' label='date paid' icon='calendar' direct=true
                +text_edit key='paid_payment_method' label='payment method' icon='credit card' direct=true
            +boolean_edit key='delivered' label='delivered' direct=true
            unless delivered
                +image_edit key='dropoff_photo' label='drop off photo' direct=true
                +datetime_edit key='dropoff_datetime' label='drop off datetime' direct=true
        if is_author
            unless delivered
                +datetime_edit key='delivery_datetime' label='delivery datetime' direct=true
                +textarea_edit key='dropoff_instructions' label='dropoff instructions (private)' direct=true
            else
                +textarea_view key='dropoff_instructions' label='dropoff instructions (private)' direct=true
                +image_view key='dropoff_photo' label='drop off photo' direct=true
                div
                +datetime_view key='dropoff_datetime' label='drop off datetime' direct=true
                .ui.divider
                +array_edit key='review_tags' label='review tags' icon='tags' direct=true
                +voting
        else
            +array_view key='tags' label='tags' icon='tags' direct=true
        +remove_button    
                
