template(name='documents')
    .ui.padded.stackable.grid.header-wrapper
        .ui.hidden.divider
        .row
            .four.wide.column
                h1.ui.massive.inline.header 
                    +i name='documents'
                    |documents
                .ui.icon.large.button.new_document
                    i.green.plus.icon
                +cloud filter='document'
            .twelve.wide.column
                .ui.centered.four.cards
                    each document_items
                        +document_item
                        
                        
                        
template(name='document_card_template')
    .ui.segment.grid.document_card
        .sixteen.wide.column
            .ui.header #{title}
            .content
                |!{description}
            .content
                i.small.documents.icon
                each date_tags
                    .ui.small.basic.label #{this}
            .content
                |#{views} views

template(name='document_page')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .twelve.wide.column
                    h1.ui.header #{title}
            .row
                .four.wide.column
                    if can_edit
                        a.ui.icon.button(href="/document/#{_id}/edit" title='edit')
                            +i name='settings'
                    +array_view key='tags' icon='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='date_tags' label='date tags' icon='documents' direct=true
                    +voting_full
                    +comments
                .twelve.wide.column
                    +html_view key='description' direct=true
                    


template(name='document_page_edit')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .four.wide.column
                    .ui.inline.header #{title}
                    a.ui.large.basic.icon.button(href="/document/#{_id}")
                        i.big.green.checkmark.icon
                    .ui.basic.icon.button.delete_document_item
                        i.red.remove.icon
                    +text_edit key='title' icon='header' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .twelve.wide.column
                    +html_edit key='description' direct=true
