template(name='rentals')
    .ui.header 
        +i name='clock'
        |rentals
    .row
        .sixteen.wide.column
            .ui.small.header 
                +i name='future' classes='ui mini inline image'
                |future reservations
            each future_reservations
                .ui.fluid.segment
                    .ui.inline.header #{_author_username}
                    .ui.inline.small.header from {{short_date start_datetime}} to {{short_date end_datetime}} (#{hour_duration} hours)
                    //- .ui.inline.header starts {{from_now start_datetime}} ({{long_date start_datetime}})
                    //- .ui.inline.header ends {{from_now end_datetime}} ({{long_date end_datetime}})
                    if is_dev
                        +remove_button
                    .ui.button.reserve_after 
                        +i name='waiting-room' classes='ui avatar image'
                        |reserve after
        
    if active_reservation
        with active_reservation
            .ui.header active
            .ui.header #{hour_duration} hrs
            .ui.header $#{reservation_cost}
            if already_started
                .ui.basic.label started
            //- if is_author
            //-     +remove_button
            
    //- unless is_author
    //-     +view_rental
    //- .ui.green.button.rent Rent
    .ui.celled.grid
        .seven.column.row
            each upcoming_days
                .column
                    +upcoming_day data=this
    .ui.small.header 
        +i name='clock'
        |#{current_month} reservations
    .ui.celled.white.grid
        .seven.column.row
            .header.column sun
            .header.column mon
            .header.column tue
            .header.column wed
            .header.column thu
            .header.column fri
            .header.column sat
        .seven.column.row
            each month_day
                +month_day_template
    each reservations
        .ui.segment
            .ui.inline.small.header from {{short_date start_datetime}} to {{short_date end_datetime}} (#{hour_duration} hours)
            |#{notes}
            +author_info
            if is_author
                +remove_button

template(name='month_day_template')
    .white.column
        .ui.big.basic.label
            a(href="/shop/#{product._id}/daily_calendar/#{month}/#{day}/#{year}") #{this}
            div(title='reservations') #{reservation_count}
            //- if reservation_exists
            //-     //- with reservation_exists
            //-         |#{_id}
            //-     .ui.icon.disabled.button
            //-         i.ban.icon(title='unavailable')
            //- else
            //-     .ui.icon.button.new_reservation
            //-         i.checkmark.icon(title='available')
                    
template(name='upcoming_day')
    a.ui.small.grey.header(href="/shop/#{product._id}/daily_calendar/#{month}/#{day}/#{year}") #{this.data.long_form}
    //- if reservation_slot
    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_product_author
    //-         .ui.button.new_slot
    //-             |new slot
        
template(name='reservation_slot_template')
    if is_grandparent_author
        with slot
            .ui.header $#{price}
            unless reservation
                +boolean_edit key='prepaid' direct=true
                +number_edit key='price' direct=true
                +remove_button
            //- +rental
    else
        .ui.divider
        .ui.header $#{slot.price}
        //- +boolean_edit key='rented' direct=true
        if reservation
            with reservation
                +reservation_template
        else
            //- with slot
            .ui.green.button.rent_item rent item
            
template(name='reservation_template')        
    .ui.header reservation
    +author_info
    .ui.small.header #{_author_username}
    if is_author
        +text_edit key='notes' direct=true
        +remove_button
    
            
template(name='view_rental')            
    .ui.segment
        .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_view key='confirmed' label='confirmed' direct=true
        .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day

            
template(name='rental')
    .ui.segment
        //- if is_admin
        //-     +boolean_edit key='completed' label='completed' direct=true
            
        unless confirmed
            +date_edit key='reservation_day' direct=true
            //- +datetime_edit key='start_time'
            //- +datetime_edit key='end_time'
            //- +range_edit
            //- .ui.button.calculate_diff diff
            .ui.icon.button.delete_rental
                i.remove.icon
                
        +author_info
        //- .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_edit key='confirmed' label='confirmed' direct=true
        .ui.header {{long_date reservation_day}}
        +date_view key='reservation_day' direct=true    
        //- .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        //- if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day
        //- .ui.header #{rental_days} days at $#{daily_rental_price}/day
