template(name='user_about')
    //- +text_view key='address' label='address' icon='marker' direct=true
    //- +phone_view key='phone' label='phone' icon='phone' direct=true
    +text_view key='tagline' label='tag line' icon='signature' direct=true
    +array_view key='tags' label='tags' icon='tags' direct=true
    +array_view key='location_tags' label='location tags' icon='location' direct=true
    +text_view key='spirit_animal' label='spirit animal' icon='year-of-monkey' direct=true
    +link_view key='link' label='link' icon='link' direct=true



template(name='user_payment')
    +text_view key='payment_preferences' label='payment preferences' icon='online-payment-with-a-credit-card' direct=true
    +boolean_view key='accepts_venmo' label='accepts venmo' icon='online-payment-with-a-credit-card' direct=true
    +boolean_view key='accepts_cash' label='accepts cash' icon='cash' direct=true
    +boolean_view key='accepts_paypal' label='accepts paypal' icon='cash' direct=true
    +image_view key='venmo_qr' label='venmo qr code' direct=true

template(name='user_social')
    +user_people
    +user_wall

template(name='user_requests')
    .ui.header requests


template(name='user_votes')
    .ui.header 
        +i name='elections'
        |votes



template(name='user_notifications')
    .ui.header 
        +i name='appointment-reminders'
        |notifications




template(name='user_tags')
    .ui.header 
        +i name='tags'
        |tags
    each tags
        .ui.large.basic.label 
            if is_user
                i.remove.link.icon.remove_tag
            |#{this}
    if user_is_user
        .ui.fluid.input
            input.tag_user(type='text' placeholder='tag yourself...')
    else
        .ui.header tag #{user_from_username_param.first_name} #{user_from_username_param.last_name}
        .ui.fluid.input
            input(type='text' placeholder="tag #{user_from_username_param.name}")
