template(name='videos')
    .ui.padded.stackable.grid.header-wrapper
        .ui.hidden.divider
        .row
            .four.wide.column
                h1.ui.massive.inline.header 
                    +i name='video'
                    |videos
                .ui.icon.large.button.new_video
                    i.green.plus.icon
                +cloud filter='video'
            .twelve.wide.column
                .ui.centered.three.cards
                    each video_items
                        +video_item
                        
                        
                        
template(name='video_card_template')
    .ui.link.card.video_card
        .image
            +youtube_view key='youtube_id' label='youtube id' direct=true
        .content
            .header #{title}
        .content
            each tags
                .ui.basic.label #{this}
                
                
template(name='video_page')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .twelve.wide.column
                    h1.ui.header #{title}
            .row
                .four.wide.column
                    if can_edit
                        a.ui.icon.button(href="/video/#{_id}/edit" title='edit')
                            +i name='settings'
                    +array_view key='tags' icon='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='date_tags' label='date tags' icon='videos' direct=true
                    div
                    +voting
                    +comments
                .twelve.wide.column
                    +youtube_view key='youtube_id' label='youtube id' direct=true
                    +html_view key='description' direct=true


template(name='video_edit')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .five.wide.column
                    .ui.inline.header #{title}
                    a.ui.large.basic.icon.button(href="/video/#{_id}")
                        i.big.green.checkmark.icon
                    .ui.basic.icon.button.delete_video_item
                        i.red.remove.icon
                    +text_edit key='title' icon='header' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .six.wide.column
                    +youtube_edit key='youtube_id' label='youtube id' direct=true
                    +html_edit key='description' direct=true
